<link rel="stylesheet" href="../css/style.css">
<link rel="stylesheet" href="../css/error.css" type="text/css">


<script src="../js/Helpers.js" type="text/javascript" defer></script>
<script src="../js/register.js" type="text/javascript" defer></script>

<%- include("./partials/_header"); %>

    <main>
        <%- include("./partials/_banner"); %>
            <div class="register form__wrapper">

                <form action="/register" method="POST" role="login-form" class="register__form">
                    <div class="register_wrap  form__container">
                        <h1>Create Account</h1>

                        <label for="name">Full name</label>
                        <input type="text" name="name" placeholder="Enter name" required autoComplete="off" />

                        <div class="form-group">
                            <input type="text" name="age" placeholder="Enter age" autocomplete="off" required />
                            <select name="gender" id="gender">
                                <option value=" ">Gender</option>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                                <option value="Other">Other</option>
                            </select>
                        </div>
                        <label for="phone">Phone</label>
                        <input type="text" name="phone" placeholder="Enter phone number" required autoComplete="off" />

                        <label for="email">Email</label>
                        <input type="email" name="email" id="email__input" placeholder="Enter email" autoComplete="off"
                            required autoComplete="off" />


                        <label for="password">Password</label>
                        <input type="password" name="password" id="password" placeholder="Enter Password" required
                            autoComplete="off" />

                        <button type="submit" id="register__btn" role="register-button"
                            class="btn--action">Register</button>

                    </div>
                </form>
            </div>
    </main>