<section class="banner__section">
    <picture>
        <source media="(min-width: 961px)" srcset="./banner/banner.jpg" alt="banner-img">
        <source media="(min-width: 601px)" srcset="./banner/banner_medium.png" alt="banner-img">
        <img srcset="./banner/banner_small.png" alt="banner-img">
    </picture>

    <div class="banner__info">
        <h3>We handle</h3>
        <h1>World's largest</h1>
        <h4>Placement activities in india !</h4>
    </div>
</section>