<div class="notification__pannel" style="visibility:hidden">
    <div class=" notify-slider" aria-hidden="true">
        <button class="close__notify">&times</button>
        <div class="keepOpen"></div>

        <div class="notification__control">
            <div class="btn-notify new__interview active" data-id="all">All Interview</div>
            <div class="btn-notify expired__interview" data-id="expired">Expired</div>
        </div>
        <center>
            <p style="color:red; margin-top:2em; display:none" class="warning__text"></p>
        </center>
        <ul class="lists">
        </ul>


    </div>
</div>